@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-border: hsl(var(--border));
}

@layer base {
  :root {
    /* HSL tuples (no hsl() here) */
    --background: 75, 6.25%, 87.45%;
    --foreground: 219.38, 37.21%, 16.86%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --border: 240 5.9% 90%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --border: 240 3.7% 15%;
  }

  @keyframes overlayIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes overlayOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes modalIn {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes modalOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(12px);
    }
  }

  html,
  body,
  * {
    transition: background-color 0.1s ease, color 0.1s ease,
      border-color 0.3s ease;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-size: 0.92rem;
  }
}
